@charset "utf-8";

/* global */
a {
	text-decoration: none;
	color:#fff;
}
/*body{
	overflow: scroll;
}*/
.title {
	text-align: center;
	margin-top: 100px;
	width: 100%;
	height: 60px;
}
.title_en {
	width: 0;
	border-top: 1px solid #2aa1fb;
}
.title_en h2 {
	display: none;
}
header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	height:60px;
	z-index: 100;
	background: #333;
}

#logo {
	float: left;
}
header img {

	height: 48px;
	margin-top:6px;
}
#header nav {
	margin-top: 30px;
}
#login,#change,#header nav {
	float:left;
}

#header nav li a{
	padding: 17px 0;
	position: relative;	
	font-size:14px;
	color:#fff;
}
#login,#change {
margin:18px 20px;
}
#login a,#change a {
font-size:12px;
}
#login a{
	padding:2px;
	margin:0 3px;
	border :1px solid #ccc;
	border-radius:5px;
}
 #header nav li a:hover,#header nav li.navActive a{
	color: #2aa1fb;
}
#header {
	height: 60px;
}
#header nav {
	margin-top: 18px;
}
@media screen and (max-width:1366px){
	.footer-main{
        width:68%;
    margin:0 auto;
    padding-top:20px;
    overflow: hidden;
}
	  #wrap {
            width: 50%;
            height: 200px;
            margin: 200px auto 0;
            position: relative;
            perspective: 800px;
        }
	#header {
	position: fixed;
	width: 75%;
	top: 0;
	left:50%;
	margin-left:-35%;
	height: 76px;
	z-index: 1;
}
#logo {
	margin: 0 30px;
}
#header nav li {
	float: left;
	margin: 0 20px;
}
}
@media screen and (max-width:1024px){
	.footer-main{
        width:95%;
    margin:0 auto;
    padding-top:20px;
    overflow: hidden;
}
	  #wrap {
            width: 70%;
            height: 200px;
            margin: 200px auto 0;
            position: relative;
            perspective: 800px;
        }
#header {
	position: fixed;
	width: 80%;
	top: 0;
	left:50%;
	margin-left:-40%;
	height: 76px;
	z-index: 1;
}
#logo {
	margin: 0 20px;
}
#header nav li {
	float: left;
	margin: 0 10px;
}
}
/*轮播*/
a,img{border:0;}
/* flexslider */
.flexslider{position:relative;width:100%;height:662px;overflow:hidden;background:url(../image/index/loading.gif) 50% no-repeat;}
.flexslider li{height:662px;}
.slides{position:relative;z-index:1;}
.flex-control-nav{position:absolute;bottom:10px;z-index:2;width:100%;text-align:center;}
.flex-control-nav li{display:inline-block;width:14px;height:14px;margin:0 5px;*display:inline;zoom:1;}
.flex-control-nav a{display:inline-block;width:14px;height:14px;line-height:40px;overflow:hidden;background:url(../image/index/dot.png) right 0 no-repeat;cursor:pointer;}
.flex-control-nav .flex-active{background-position:0 0;}
.flex-direction-nav{position:absolute;z-index:3;width:100%;top:45%;}
.flex-direction-nav li a{display:block;width:50px;height:50px;overflow:hidden;cursor:pointer;position:absolute;}
.flex-direction-nav li a.flex-prev{left:40px;background:url(../image/index/prev.png) center center no-repeat;}
.flex-direction-nav li a.flex-next{right:40px;background:url(../image/index/next.png) center center no-repeat;}
/*轮播*/  
/* common style of page */
.index-deploy,.index-deploy2,.index-deploy3 ,.index-deploy4{
    padding-top: 58px;
    padding-bottom: 50px;
}

.index-deploy-title,.index-deploy-title2,.index-deploy-title3{
    margin: 25px auto 50px;
    text-indent: -9999px;
	      background-size: 100% 100%!important;
}
.orange{
    left:50%;
    top:190px;
    color:orange;
}
.red{
    left:30%;
    top:380px;
    color:red;
}
.green{
    left:6%;
    top:250px;
    color:green;
}
.purple{
  
     left:80%;
    top:300px;
    color:purple;
}
.index-deploy-title{
		  width:300px;
      height: 30px;
     background: url(../image/index/index-deploy-title.png) no-repeat; 
}
.index-deploy-title2{
	 	  width:300px;
      height: 30px;
     background: url(../image/index/shenhead.png) no-repeat; 
}
.index-deploy-title3{
		  width:300px;
      height: 30px;
     background: url(../image/index/yunhead.png) no-repeat; 
}
.index-deploy-title4{
	  margin: 25px auto 50px;
    text-indent: -9999px;
	      background-size: 100% 100%!important;
	  width:130px;
      height: 30px;
     background: url(../image/index/partnerhead.png) no-repeat; 
}
.index-deploy2{
    height:562px;
    background-Image:url(../image/index/shenbg.png);
        background-size:100% 100%;
}
.index-deploy3{
    height:562px;
    background-Image:url(../image/index/yunbg.png);
    background-size:100% 100%;
}
.index-deploy4{
    height:562px;
    background-Image:url(../image/index/partnerbg.png);
    background-size:100% 100%;
}
.rong-wrap2,.rong-wrap3,.rong-wrap4{
    width:100%;
    height:100%;
}
.myCanvas{
position: absolute;
left:180px;
    z-index:10;
}
.shencontent{
     background: url(../image/index/shen.png) no-repeat; 
  width:60%;
  height:70%;
     margin:0 auto;
     position: relative;
	     background-size:100% 100%;
}
.shencontent>div{
    position: absolute;
    width:100px;
	text-align:center;
	margin-top:40px;
}

.shencontent>div strong{
    font-size:30px;
	font-weight:normal;
}
.shencontent>div span{
	color:grey;
	font-size:12px;
}
#index-deploy-content {
    width: 1070px;
    margin: 0 auto;
    font-size: 0;
    text-align: center;
}
.index-deploy-left,
.circle-wheel,
.index-deploy-right{
    display: inline-block;
    vertical-align: top;
}
.index-deploy-left {
    width: 240px;
}

.deploy-detail-public,
.deploy-detail-private{
    margin-top: 10px;
}

.deploy-detail-exclusive,
.deploy-detail-overseas{
    margin-top: 80px;
}

.index-deploy .deploy-detail-title{
    display: inline-block;
    font-size: 18px;
    color: #000;
    font-weight: normal;
    margin-bottom: 18px;
}
.index-deploy-item{
    display: inline-block;
}
.index-deploy .index-deploy-item:hover h3,
.index-deploy .index-deploy-item:hover p
{
    color: #177fdc;
}

.index-deploy .deploy-detail-content{
    font-size: 12px;
    color: #656d78;
    letter-spacing: 0.5px;
    line-height: 26px;
}

.index-deploy-right {
    width: 252px;
}

.index-deploy-right .index-deploy-detail{
    text-align: left;
}
.index-deploy-left .index-deploy-detail{
    text-align: left;
}

.index-deploy .circle-wheel {
    width: 420px;
    height: 420px;
    margin: 0 65px;
}

.circle-wheel .circle-wheel-outer {
    width: 420px;
    height: 420px;
    background: url(../image/index/circle-wheel-outer.png) no-repeat;
    background-size: 420px auto;
    padding: 30px;
}

.circle-wheel .rotate-circle {
    width: 360px;
    height: 360px;
    background: url(../image/index/rotate-circle.png) no-repeat;
    background-size: 360px auto;
    position: absolute;
    animation: rotate-circle 60s linear infinite;
}

.rotate-circle.pause{
    animation-play-state:paused;
}

@keyframes rotate-circle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
.direct-line {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 30px;
    background-size: 300px auto;
    background-repeat: no-repeat;
      background-image: url(../image/index/anquan.png);
    transition: background .5s ease-in-out;
}
.deploy-index-0 .direct-line {
    background-image: url(../image/index/anquan.png);
}
.deploy-index-1 .direct-line {
    background-image: url(../image/index/pingtaijianrong.png);
}
.deploy-index-2 .direct-line {
    background-image: url(../image/index/yingyonggexin.png);
}
.deploy-index-3 .direct-line {
    background-image: url(../image/index/duodianhuancun.png);
}

.direct-line .line {
    width: 0;
    height: 2px;
    background: #eaeaea;
    position: absolute;
    transform-origin: top left;
    -ms-transform-origin: top left;
    -webkit-transform-origin: top left;
    text-indent: -9999px;
}
.direct-line .point {
    position: absolute;
    display: inline-block;
    width: 22px;
    height: 22px;
    background-image: url(../image/index/blue-point.gif);
    background-size: 22px auto;
    background-repeat: no-repeat;
    text-indent: -9999px;
    opacity: 0;

}
.deploy-index-0 .direct-line .point {
    top: -27px;
    left: -118px;
    animation: point0 .1s linear 1.4s;
    animation-fill-mode: forwards;
}
.deploy-index-1 .direct-line .point {
    top: 200px;
    left: -118px;
    animation: point1 .1s linear 1.4s;
    animation-fill-mode: forwards;
}
.deploy-index-2 .direct-line .point {
    top: 200px;
    right: -115px;
    animation: point2 .1s linear 1.4s;
    animation-fill-mode: forwards;
}
.deploy-index-3 .direct-line .point {
    top: -27px;
    right: -115px;
    animation: point3 .1s linear 1.4s;
    animation-fill-mode: forwards;
}
.deploy-index-0 .direct-line .line1 {
    animation: pubLine1 .8s linear;
    top: 32px;
    right: 285px;
    transform: rotate(40deg);
    transform-origin: top right;
    animation-fill-mode: forwards;
}
.deploy-index-0 .direct-line .line2 {
    animation: pubLine2 .6s linear .8s;
    top: -18px;
    right: 344px;
    animation-fill-mode: forwards;
}
.deploy-index-1 .direct-line .line1 {
    animation: excLine1 .8s linear;
    top: 200px;
    right: 321px;
    transform: rotate(-10deg);
    transform-origin: top right;
    animation-fill-mode: forwards;
}
.deploy-index-1 .direct-line .line2 {
    animation: excLine2 .6s linear .8s;
    top: 210px;
    right: 376px;
    animation-fill-mode: forwards;
}

.deploy-index-2 .direct-line .line1 {
    animation: priLine1 .8s linear;
    top: 198px;
    left: 322px;
    transform: rotate(19deg);
    animation-fill-mode: forwards;
}
.deploy-index-2 .direct-line .line2 {
    animation: priLine2 .6s linear .8s;
    top: 211px;
    left: 358px;
    animation-fill-mode: forwards;
}
.deploy-index-3 .direct-line .line1 {
    animation: oveLine1 .8s linear;
    top: 29px;
    left: 280px;
    transform: rotate(-41deg);
    animation-fill-mode: forwards;
}
.deploy-index-3 .direct-line .line2 {
    animation: oveLine2 .6s linear .8s;
    top: -17px;
    left: 334px;
    animation-fill-mode: forwards;
}

@keyframes point0 {
    100% {
        opacity: 1;
    }
}
@keyframes point1 {
    100% {
        opacity: 1;
    }
}
@keyframes point2 {
    100% {
        opacity: 1;
    }
}
@keyframes point3 {
    100% {
        opacity: 1;
    }
}
@keyframes pubLine1 {
    100% {
        width: 78px;
    }
}
@keyframes pubLine2 {
    100% {
        width: 63px;
    }
}
@keyframes excLine1 {
    100% {
        width: 57px;
    }
}
@keyframes excLine2 {
    100% {
        width: 30px;
    }
}
@keyframes priLine1 {
    100% {
        width: 39px;
    }
}
@keyframes priLine2 {
    100% {
        width: 46px;
    }
}
@keyframes oveLine1 {
    100% {
        width: 71px;
    }
}
@keyframes oveLine2 {
    100% {
        width: 71px;
    }
}
.box {
    width: 355px;
    height: 500px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.list {
    position: absolute;
}
.in {
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-duration: 350ms;
	animation-timing-function: ease-out;
	animation-duration: 350ms;
}
.out {
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-duration: 225ms;
	animation-timing-function: ease-in;
	animation-duration: 225ms;
}
.partner11{
    text-align:center;
}
.partner11 img{
    margin:30px;
	height:0;
}
#home,
#about,
#skill,
#exp,
#demo,
#contact,
#document,
#document2,
#document3,
#document4,
#blog,
#blog1 ,
#help{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	background-color:#fff;
	background-size: 100% 100%;
}
#help1{
	width: 100%;
	height: 130%;
	position: relative;
	background-color:#000;
	background-size: 100% 100%;
		overflow-y: scroll;
}
#document{
	background:url(../image/document/1.png);
	background-size:100% 100%;
}
#document2{
	background:url(../image/document/2.png);
	background-size:100% 100%;
}
#document3{
	background:url(../image/document/3.png);
	background-size:100% 100%;
}
#document4{
	background:url(../image/document/4.png);
	background-size:100% 100%;
}
#blog{
	background:url(../image/other/blogbg.png);
	background-size:100% 100%;
}
#help{
	background:url(../image/other/helpbg.png);
	background-size:100% 100%;
}
#help1_content{
	background:url(../image/other/help1.png);
	background-size:100% 100%;
}
#blog1{
	background-color:#efefef;
	background-size:100% 100%;
}
#home_content,
#about_content,
#skill_content,
#exp_content,
#demo_content,
#contact_content,
#document_content,
#document2_content,
#document3_content,
#document4_content,
#blog_content,
#blog1_content,
#help_content{
	
	width: 100%;
	height: 100%;
}
#help1_content {
	width: 100%;
	height: 100%;
}
/*#hfooter_content {
	width: 100%;
	height: 30%;
}*/
#blog1_content,#document2_content,#document3_content,#document4_content{
	padding-top:100px;
}
@-webkit-keyframes zoom {
	0%{
		background-size: 130% 130%;	
	}
	100%{
		background-size: 100% 100%;
	}
}
@keyframes zoom {
	0%{
		background-size: 130% 130%;	
	}
	100%{
		background-size: 100% 100%;
	}
}
.home_zoom {
	-webkit-animation: zoom 2s ease-in-out;
	animation: zoom 2s ease-in-out;
}

/* about */
#about_content {
	height: 510px;
}
/*云途生态合作共赢*/


        .boxs {
            position: absolute;
            z-index: 99;
            width: 180px;
            height: 100px;
            transform-style: preserve-3d;
            transform-origin: right center;
        }

        .boxs a {
            display: block;
            width: 100%;
            padding-top: 80px;
            text-align: center;
            height: 100%;
            font-size: 10px;
            position: absolute;
            backface-visibility: hidden;
            color: #fff;
            background-size: 100% 100%!important;
        }
		        .boxs a:first-child {
            display: block;
            width: 100%;
            padding-top: 80px;
            text-align: center;
            height: 100%;
            font-size: 16px;
            position: absolute;
            backface-visibility: hidden;
            color: #fff;
            background-size: 100% 100%!important;
        }

        .box1 {
            left: 0;
            top: 0;
        }

        .box2 {
            left: 250px;
            top: 0;
        }

        .box3 {
            left: 500px;
            top: 0;
        }

        .box1 a:nth-of-type(1) {
            background: url(../image/index/Taboa.png) no-repeat;
        }

        .box2 a:nth-of-type(1) {
            background: url(../image/index/Tabcar.png) no-repeat;
        }

        .box3 a:nth-of-type(1) {
            background: url(../image/index/Tabboat.png) no-repeat;
        }

        .boxs a:nth-of-type(1) {
            transition: .8s transform;
        }

        .boxs a:nth-of-type(2) {
            transform: rotateY(-180deg);
            transition: .8s transform;
            background: url(../image/index/yunbgcopy.png);
        }

        .boxs:hover a:nth-of-type(1) {
            transform: rotateY(180deg);
        }

        .boxs:hover a:nth-of-type(2) {
            transform: rotateY(0deg);
        }

