.navbar-nav > li > a,
.navbar-brand, .navbar-nav > li > a:visited
{
    min-width: 50px;
    color: #000;
    font-size: 18px;
}
.navbar-nav > li > a:hover{
    background: #fff;
    color:#03A9F4;
}
.navbar-collapse{
    margin-top: 1.6em;
}
.btn-primary {
     color: #fff;
     text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
     background-color: #3280fc;
     border-color: #035eed;
     padding: 5px 12px;
     margin-bottom: 0;
     font-size: 13px;
     font-weight: 400;
     line-height: 1.53846154;
     text-align: center;
     vertical-align: middle;
     cursor: pointer;
     -webkit-user-select: none;

 }
.btn-default{
    padding: 5px 12px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.53846154;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;

}

.btn-primary a{
    color: #fff;
   text-decoration: none;
    font-size: 18px;
}
.btn-default a{
    color: #010101;
    text-decoration: none;
    font-size: 18px;
}
.navbar-toggle span{
    background: #000;
}
.navbar-toggle:hover{

}
.cssbog{
    margin-top: 150px;
}
.cssbig{
    margin-top: 50px;
}
.bottom1{
    width: 100%;
    height:70px;
    background: black;
    opacity: 0.7;
    text-align: center;
}
.bottom1 a{
    display: inline-block;
    line-height: 70px;
}
.title {
    line-height: 3vw;
    height: 3vw;
    width: 12vw;
    border: 1px solid #fff;
    display: -moz-inline-box;
    display: inline-block;
    margin-left: 3vw;
    cursor: pointer;
    font-size: 1.5vw;
    color: #fff;
    border-bottom: none;
    text-align: center;
}
.title a{
    color: #fff;
    text-decoration: none;
}
.title a:hover{
    color: #ddd;
    text-decoration: none;
}
.head-text {
    margin-bottom: -15px;
    font-size: 22px;
    color: #03a9f4;
}
.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}
.navbar .nav > li > a:hover {
    color: #3AA3F6;
}